<div align="center">
  <% flash.each do |key, value| %>
    <div>
      <a href="/" data-dismiss="alert">Thank you for your message. I will contact you soon!</a>
        <%= value %>
    </div>
  <% end %>
</div>
